<head>
    <link rel="stylesheet" href="/css/content.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    {{!-- <div id="content-view-div">
        <h2 id="content-view-title">{{title}}</h2>
        <div id='content-form'>
            <div id='content-items-div'>
                <ul>
                    {{#each content}}
                    <li>
                        <div id="content-item" class="{{this.id}}" type="button" name="content-item">
                            <a href="/content/{{this.id}}">
                                <label id="lbl-gtype">Guitar type: {{'content_body_type.content_type.title'}}</label>
                                <label id="lbl-gbody_type">Guitar body type: {{'content_body_type.title'}}</label>
                                <label id="lbl-country">Country: {{'manufacturer.country.title'}}</label>
                                <label id="lbl-price">Price: {{this.price}}</label>
                                <label id="lbl-quantity">Quantity: {{this.quantity}}</label>
                            </a>
                        </div>
                    </li>
                    {{/each}}
                </ul>

            </div>
            <br>
        </div>
    </div> --}}



    {{>search}}
    <div id="check-list">
        <div class="custom-control custom-checkbox">
            <form method="POST" action="/content/sort">
                {{#each manufacturers}}
                    <input type="checkbox" class="custom-control-input" id="{{this.id}}" name="{{this.title}}">
                    <label class="custom-control-label" for="defaultUnchecked">{{this.title}}</label>
                    <br>
                {{/each}}
                <br>
                <input type="radio" class="custom-control-input" id="price-interval-1" name="price_interval">
                <label class="custom-control-label" for="defaultUnchecked">&#60; 500</label>
                    <br>
                <input type="radio" class="custom-control-input" id="price-interval-2" name="price_interval">
                <label class="custom-control-label" for="defaultUnchecked">&#60; 1000</label>
                    <br>
                <input type="radio" class="custom-control-input" id="price-interval-3" name="price_interval">
                <label class="custom-control-label" for="defaultUnchecked">&#60; 2000</label>
                    <br>
                <input type="radio" class="custom-control-input" id="price-interval-4" name="price_interval">
                <label class="custom-control-label" for="defaultUnchecked">&#60; 3000</label>
                    
                <input id="sub-condition_but" type="submit" value="SEARCH">
            </form>
        </div>
        
    </div>

    <div class="container">
        <div class="container_inner default_template_holder clearfix page_container_inner">
            <div class="vc_row wpb_row section vc_row-fluid" style=" padding-top:0px; text-align:left;">
                <div class=" full_section_inner clearfix">
                    <div class="vc_col-sm-12 wpb_column vc_column_container">
                        <div class="wpb_wrapper">
                            <div class="projects_holder_outer v3 portfolio_with_space portfolio_standard ">
                                <div class="projects_holder clearfix v3 standard">
                                    {{#each content}}
                                    <article class="mix portfolio_category_17 portfolio_category_5  mix_all"
                                        style="display: inline-block; opacity: 1;">
                                        <div class="image_holder"><a class="portfolio_link_for_touch" href=""
                                                target="_self"><span class="image"><img width="1100" height="825"
                                                        src="/images/{{this.picture_path}}" class="attachment-full wp-post-image"
                                                        alt="qode interactive strata"></span></a><span
                                                class="text_holder"><span class="text_outer"><span
                                                        class="text_inner"><span class="feature_holder"><span
                                                                class="feature_holder_icons">
                                                                <a class="preview qbutton small white"
                                                                    href="/content/{{this.id}}"
                                                                    target="_self">view</a></span></span></span></span></span>
                                        </div>

                                        <div class="portfolio_description ">
                                            <h5 class="portfolio_title"><a href="/content/{{this.id}}"
                                                    target="_self">{{'manufacturer.title'}} (Model: {{this.model}})</a>
                                            </h5><span class="project_category">Price: ${{this.price}}</span>
                                        </div>

                                    </article>
                                    {{/each}}
                                    <div class="filler"></div>
                                    <div class="filler"></div>
                                    <div class="filler"></div>
                                </div>
                                <div class="portfolio_paging_loading"><a href="javascript: void(0)"
                                        class="qbutton">Loading...</a></div>
                            </div>
                            <div class="separator  transparent center  " style="margin-top: 20px;margin-bottom: 20px;">
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script src="/js/content.item.js"></script>
</body>